*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:poppins;
}
/* shared styles  */
.section-title{
    font-size:24px;
    font-weight:700;
    color:#3a3a3a;
}
/* header section styles */
nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3rem;
}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-right:1rem;
}
nav ul li a{
    text-decoration:none;
    color:#3a3a3a;
    font-weight:600;
   
}